body {
    background-color: #343A45;
    color: #F6F7F9;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    text-align: center;
    margin: 0;
}